<div>
    <input class="search" type="text" name="search" placeholder="search" size="20" width= 150px
     [(ngModel)]="searchText" (keyup.enter)="onSearch(searchText)"> &nbsp;

<button class="button" (click)="moreThanTwoYeaEexperience()"> Candidate more than 2 years experience</button>&nbsp;

<button class="button" (click)="removeDevelopmentDeptCandidate()">Remove Development Dept candidates</button>&nbsp;
</div><br>
<ng-select [items]="departments"
           bindLabel="name"
           placeholder="Select department to get count of candidate"
           [(ngModel)]="selectedDept"
           (change)="countOfCandidate(selectedDept)">
</ng-select><br>

<ng-container *ngIf="count && selectedDept" >
        <h3>The selected department have {{count}} candidates.</h3>
</ng-container><br><br>

<table class="main" class="table table-striped">
    <tr>
        <th (click)="sort('name')" scope="col" >Name</th>
        <th (click)="sort('department')" scope="col" >Department</th>
        <th (click)="sort('joining_date')" scope="col" >Joining_date</th>
        
    </tr>
    <tr *ngFor="let emp of employees">  
        <td><a [routerLink]="['/details',emp.id]">{{emp.name}}</a></td>
        <td>{{emp.department}}</td>
        <td>{{emp.joining_date}}</td>
    </tr>
</table>

